/* home.css */
/* Adicionar no seu arquivo home.css */
@media (min-width: 768px) {
  .home-grid {
    grid-template-columns: minmax(14rem, auto) 1fr;
  }
}
/* Adicionar no seu arquivo home.css */
@media (min-width: 768px) {
  .main-content {
    margin-left: 0px; /* Empurra o conteúdo principal para a direita, mantendo dentro da viewport */
    overflow-x: hidden; /* Esconde qualquer overflow horizontal */
  }
}

/* .mobile {
  display: flex;
  flex-direction: column;
} */

@media (min-width: 768px) {
  .mobile {
    flex-direction: row;
  }
}
.hidden.md\:flex.w-full.flex-col {
    width: 250px;
}