/* .background{  
    margin-top: 30vh;
} */
.css-1t8x7v1 > .ps-menu-button {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

.ps-sidebar-container.css-dip3t8{
  background-color: #ffffff!important;
}

.ps-sidebar-root.text-text.w-full.h-full.css-1wvake5{
 border: none!important;
}
