@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { 
  background-color: #F9FAFB;
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --accent-color: #e74c3c;
  --background-color: #F9FAFB;
  --white-color: #ffffff;
  --text-color: #2c3e50;
  --text-text: #151D48;

  --success-light: #d3fcd2;
  --success-color: #22c55e;

  --grey-light: #eceff1;
  --purple-light: #efd6ff;
  --grey-bg: #f4f6f8;
  --orange-dark: #f57c00;
  --blue-dark: #1976d2;
  --pink-color: #fa5a7d;
  --orange-color: #ffab00;
  --yellow-light: #ffd666;
  --pink-light: #ffe2e5;
  --yellow-bg: #fff5cc;
  --white-bg: #ffffff;
  --red-dark: #ff5630;
  --grey-dark: #212b36;

  --blue-color: #2500ff;
  --dark-grey: #373d3f;

  --grey-color: #637381;
  --black-transparent: rgba(0, 0, 0, 0%);
  --grey-opacity: rgba(145, 158, 171, 8%);
}
